@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .HeaderFont {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .lato_Font {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .BodyFont {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .QuotesFont {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .button-to-git {
    @apply bg-Yellow text-sky-900 QuotesFont p-3 mx-auto block rounded-tl-2xl rounded-br-2xl;
  }
}
